---
author: Rahman Nur Rasyid
title: Mann Slides | Overview
description: Overview of slides by Rahman Nur Rasyid
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# Markdown Slides
by Rahman Nur Rasyid

<br>

- Ini halaman arahan Anda di mana Anda dapat menghubungkan presentasi Anda
- Jika Anda baru mengenal slide penurunan harga, periksa slide [pengantar](/markdownslides/getting_started) untuk mempelajari apa yang dapat dilakukannya dan cara menggunakannya

- Beberapa presentasi saya:
  - [Thesis Helper]({{site.baseurl}}/thesis-helper) (Draft): Tips untuk menulis tesis Anda

<br>
<br>

Juga jangan ragu untuk memeriksa milik saya [github](https://github.com/RahmanNurRasyid2/bisnis-sistem-informasi.git) or [website](https://a-nau.github.io) :)

            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
